{{ define "header" }}
  {{ partials.Include "site-header.html" . }}
{{ end }}

{{ define "main" }}
  {{- $related_content := .RegularPages.Related . -}}
  {{- $needs_aside := or .Params.toc $related_content -}}
  {{- $post_class := "" -}}
  {{- with .File -}}
    {{- $post_class = printf "page-%s" .ContentBaseName -}}
  {{- end -}}

  <article class="{{ $post_class }} flex-l {{ if $needs_aside }}mw8{{ else }}mw7{{ end }} center ph3 flex-wrap justify-between">
    <div class="nested-copy-line-height lh-copy {{ $.Param "post_content_classes" | compare.Default "serif" }} f4 nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }} {{ compare.Conditional (compare.Eq $.Site.Language.Direction "rtl") "pl4-l" "pr4-l" }} {{ if $needs_aside }}w-two-thirds-l{{ else }}w-100-l{{ end }}">
      {{- partials.Include "hook.html" (dict "hook" "content-before" "context" .) -}}
      {{- .Content -}}
      {{- partials.Include "hook.html" (dict "hook" "content-after" "context" .) -}}
      {{- partials.Include "categories.html" . -}}
      {{- partials.Include "tags.html" . -}}
    </div>
    {{- if $needs_aside -}}
    <aside class="w-30-l mt6-l">
      {{- partials.Include "menu-contextual.html" . -}}
    </aside>
    {{- end -}}
  </article>
{{ end }}
